.country-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.country-container.hidden {
  display: none;
}

.country-info {
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  padding: 20px;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}

.country-card {
  width: 20%;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;
  background-color: #1a1a1a;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1em;
  transition: border-color 0.2s ease-in-out;
}

.country-card.selected {
  background-color: #646cff;
  border: 1px solid #646cff;
  color: #fff;
}

.country-card:hover {
  border: 1px solid #646cff;
}

.country-card p {
  margin: 0;
  text-align: center;
}


.country-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.country-table th,
.country-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #1a1a1a;
  color: #646cff;
}

.country-table td img {
  max-width: 100px;
  max-height: 60px;
}

.selected-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .country-card {
    width: 100%;
    font-size: 0.9em;
    padding: 8px;
    margin: 8px;
    max-height: 160px;
    margin-top: 10px;
  }

  .country-list {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  .country-info {
    padding: 0;
    width: 100%;
  }

  .country-table {
    width: 100%; 
  }

  .country-table th,
  .country-table td {
    font-size: 0.9em;
  }
}
